

.body_crud{
  flex: 1;
  padding: 40px;
  width: 1100px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.h3_crud_form{
  display: inline-block;
  position: relative;
  padding-bottom: 0.8rem;
  margin-bottom: 30px;
  color: #9D825D;
  font-size: 24px;
}

.h3_crud_form::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px; /* Distancia entre texto y línea */
  width: 150px;   /* Largo de la línea */
  height: 3px;   /* Grosor de la línea */
  background-color: #d6b17d; 
  border-radius: 2px; /* Bordes redondeados de la linea inferior */
}

.fieldset_crud {
  border: 1px solid rgb(56, 97, 56);
  border-radius: 16px;
  padding: 24px 24px 30px 24px;
  background: #fafafa;
  margin: 24px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


 .legend_crud {
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(56, 97, 56);
  padding: 0 12px;
  margin-left: 16px;
  margin-bottom: 0;
  border-radius: 4px;
  width: auto;
}


.columnaCrud{
    display: flex;
}

.inputs_crud_modificar{
    display: flex;
    flex-direction: column;
}


.form-control {
  width: 400px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
  transition: border 0.3s ease;
  margin-right: 20px;
}

.select_crud_modificar{
    display: flex;
    flex-direction: column;
}

.form-select{
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ccc;
    margin-right: 20px;
    padding: 10px;
    width: 400px;
}

.form-label2{
    margin-top: 10px;
    text-align: center;

}


.container-btn-crud{
    display: flex;

    justify-content: center;
    margin-bottom: 20px;

}

.btn-form-crud{
    margin-top: 20px;
    font-size: 15px;
    border: #7b9a82;
    padding: 8px;
    color: white;
    background: #637a68;
    border-radius: 10px;
    margin-right: 10px;
}

.btn:hover {
    font-weight: 600;
    background: #637a68 ;
}