/* 1. Margin alrededor de la tabla */
#usuarios{
    margin-top: 40px;
}


#usuarios_wrapper  {
  margin: 10px; /* Arriba, derecha, abajo, izquierda */
  color: rgb(0, 0, 0);
}

.btn-export-crud{

    width: 60px;

} 

/* Color del encabezado de la pagina */
table.dataTable thead>tr>th.dt-orderable-asc, table.dataTable thead>tr>th.dt-orderable-desc, table.dataTable thead>tr>td.dt-orderable-asc, table.dataTable thead>tr>td.dt-orderable-desc {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: #b49d97;
    text-align: center;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date{
    text-align: center !important;
}

table.table.dataTable.table-striped>tbody>tr:nth-of-type(2n+1)>* {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.05);
    text-align: center;
}

table.table.dataTable>:not(caption)>*>* {
    background-color: var(--bs-table-bg);
    text-align: center;
}

/* Margin entre la paginación y la tabla */
.pagination {
  margin-top: 24px !important; /* Ajusta según lo que necesites */

}

/* Ejemplo: Personalizando el color y fondo del paginador activo de la paginacion*/
.pagination .page-item.active .page-link,
.pagination .page-link.active {
  color: #ffffff !important; /* Cambia el color del texto */
  background-color: #b49d97 !important; /* Cambia el fondo */
  border-color: #b49d97 !important; /* Cambia el borde */
}


