

.contenedorBotones button:hover{

 font-weight:500;
 background-color: #a18c87;
 color: white;

}

.alerta_modificacion_crud{
  background-color: green;
  color: aliceblue;
}


/*Iconos*/

#icon_crud{
  color: #ffffff;
}



