.etiquetaPerfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Mensajes   */
.mt-2 {
  margin-top: 1.5rem !important;
  display: flex;
  justify-content: center;
}

.fs-5 {
  font-size: 1.25rem !important;
  width: 350px;
  text-align: center;
}



/* Titulos */
.containerTitulo{
  margin-top: 30px;
  background:#fafafa; 
  border: #ccc 1px;
  border-radius: 16px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title_perfilUsu{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #9B825D;
  letter-spacing: 0.05rem;
  position: relative;
  padding-bottom: 0.5rem;
  margin-top: 5px;
}

.title_perfilUsu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px; /* Distancia entre texto y línea */
  width: 100px;   /* Largo de la línea */
  height: 3px;   /* Grosor de la línea */
  background-color: #9B825D; 
  border-radius: 2px; /* Bordes redondeados de la linea inferior */
}

/* Form  */

.form_perfil_usuario{
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #7b9a82;
    border-radius: 0px 0px 50px 50px;
    width: 70rem;
    margin-top: -30px;
}

/*Labels*/

.label_perfilUsu{
  margin-top: 10px;
  font-weight: bold;
  display: block;
  font-size: 14px;
  color: #333;
}

.fieldset_perfil_usuario{
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 24px 24px 30px 24px;
  background: #fafafa;
  margin: 15px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-bottom: 50px;
}

.legend_perfil_usuario{
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(56, 97, 56);
  padding: 0 12px;
  margin-left: 16px;
  margin-bottom: 0;
  border-radius: 4px;
  width: auto;
}


.columnas_perfilUsu{
    display: flex;
    margin-bottom: 10px;
}


/* Contenedores Input y Selecte */
.inputs_perfilUsu{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.select_perfilUsu{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

/* Input */

.form_control_perfilUsu {
  width: 400px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
  transition: border 0.3s ease;
  margin-right: 20px;
}

/* Select */

.campos_select_perfilUsu{
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ccc;
    margin-right: 20px;
    padding: 10px;
    width: 400px;
}

/*Botones*/

.container_bnt_perfilUsu{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.btn_perfilUsu{
    padding: 10px;
    background-color: #9B825D;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    margin-right: 60px;
}