#body_reset {
    display: flex;
    background: #f2f1f0
}

.fondo_reset {
    background: #7b9a82;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 0% 50% 50% 0%;
}

.img_fondo_reset {
    width: 100%;
    opacity: 50%;
    height: 47cqmax;
    border-radius: 0% 50% 50% 0%;
}

.texto_superior {
    position: absolute;
    left: 18%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #1f291b;
}

.texto_superior2 {

    position: absolute;
    left: 18%;
    margin-top: 50px;
    transform: translatex(-50%);
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    color: #f9f8f7;
    font-weight: 500;

}

/* Izquierda */

.container_form_reset {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 90px;
}

h4 {
    margin-top: 20px !important;
    /* background-color: #637a68; */
    color: #3d3431;
    font-size: 40px !important;
    font-weight: 700 !important;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px !important;
}

.container-input-reset {
    position: relative;
}

.form-control {
    display: block;
    width: 500px !important;
    margin-bottom: 10px;
    border: #ffffff !important;
    padding-left: 35px;
}

.form-label {
    font-style: unset;
    color: #000000;
}

.container-input-reset i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #7b9a82;
    font-size: 1.2em;
    pointer-events: none;
    /* para que no bloquee el input */
    margin-top: 15px;
}

.container-btn-reset {
    display: flex;
    justify-content: space-between;
}

.btn-form-reset {
    margin-top: 20px;
    border: #7b9a82 !important;
    background-color: #7b9a82 !important;
    width: 90px;
    text-align: center;
    font-weight: 600 !important;
}

.btn-form-reset:hover {
    background: #637a68 !important;
}

.container_mensajes_reset {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Alertas */

.alert-danger {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: none;
    color: #a27272 !important;
    background-color: #ffe5e5;
    border-radius: 12px;
    font-weight: bold;
    width: 350px;
    padding: 13px 20px 15px 20px !important;
}

.alert-success {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: none;
    color: #78a272 !important;
    background-color: #d9fce1;
    border-radius: 12px;
    font-weight: bold;
    width: 480px;
    padding: 13px 20px 15px 20px !important;
}