header{ 

    display: flex;
    margin: auto;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 5px;

  }
  
  
  header .logo-ZM{
    width: 25%;
    /* background-color: bisque; */
  }
  
  header .Logo{
    width: 250px;
    height: 90px;
    top: 18px;
    margin-left: 50px;
  }
  
  header .Titulo {
    width: 50%;
   /* background-color: rgb(153, 16, 178); */
    display: flex;
    justify-content: center;
  }
  
  header .LogoT {

    margin-top: 20px;
    width: 400px;
    height: 70px;
  }
  
  header .menu {

    display: flex;
    width: 20%;
    margin-right: 40px;
    margin-top: 20px;
    justify-content: right;
    align-items: center;
    /* margin-left: 5em; */
  }
  
  header .IconoMenu{

    width: 45px;
    height: 45px;
  }


  /* Nav */

  nav {

    display: flex;
    background: #7b9a82;
    padding-top: 10px;
    padding-bottom: 15px;
    justify-content: center;
    font-size: 18px; 
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  nav a {
  
    color: rgb(20, 26, 21);
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
  }
  
  nav a:hover {
  
    font-weight:600;
    text-decoration: solid;
    color: #ffffff;

  }
  

  /* Responsive */

  @media (max-width: 768px) {
  
  header {
    /* flex-direction: column; */
    align-items: center;
    padding: 15px;
  }

  .LogoT{
    display: none;
  }

  header .logo-ZM,
  header .Titulo,
  header .menu {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  header .Logo {
    margin-left: 0;
    width: 180px;
    height: auto;
  }

  .LogoT{
    display: none;
  }


  header .menu {
    justify-content: center;
    margin-top: 10px;

  }

    header .IconoMenu {
    width: 35px;
    height: 35px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    font-size: 16px;

  }

  nav a {
    /* margin: 8px 0; */
    margin-right: 10px;
  }
}





@media (max-width: 480px) {
  header .Logo {
    width: 140px;
  }

  header .LogoT {
    width: 200px;
  }

  header .IconoMenu {
    width: 35px;
    height: 35px;
  }

  nav {
    font-size: 14px;
  }
}